<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Attend</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/custom.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../">Home</a>
                    </li>
                    <li>
                        <a href="../staff/movies">Movies</a>
                    </li>
                    <li>
                        <a href="../staff/genres">Genres</a>
                    </li>
                    <li>
                        <a href="../staff/rooms">Rooms</a>
                    </li>
                    <li>
                        <a href="../staff/showings">Showings</a>
                    </li>
                    <li>
                        <a href="../staff/customers">Customers</a>
                    </li>
                    <li>
                        <a href="../staff/attend">Attend</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row text-center">
        <h2>Attend Page</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="addform" class="collapse">
                    <h2>Add Customer:</h2>
                    <form action="addattend" method="post" class="form-inline">
                        <div class="form-group">
                            <label for="cID">CustomerID</label>
                            <input type="text" name="CustomerID" class="form-control" id="cID" placeholder="CustomerID">
                        </div>
                        <div class="form-group">
                            <label for="sID">ShowingID</label>
                            <input type="text" name="ShowingID" class="form-control" id="sID" placeholder="ShowingID">
                        </div>
                        <div class="form-group">
                            <label for="rating">Rating</label>
                            <input type="text" name="Rating" class="form-control" id="rating" placeholder="Rating">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>
                </div>


            </div>
        


        <div class="row">            
            <div class="col-md-6 col-md-offset-3 text-center">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Showing ID</th>
                            <th class="text-center">Showing Date/Time</th>
                            <th class="text-center">MovieID</th>
                            <th class="text-center">Movie Name</th>
                            <th class="text-center">Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attend in attends %}
                        <tr>
                            <td>{{ attend.0 }}</td>
                            <td>{{ attend.1 }}</td>
                            <td>{{ attend.2 }}</td>
                            <td>{{ attend.3 }}</td>
                            <td>{{ attend.4 }}</td>
                            <td>{{ attend.5 }}</td>
                            <td>{{ attend.6 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
