<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Genres</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/custom.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="../">Home</a>
                    </li>
                    <li>
                        <a href="../staff/movies">Movies</a>
                    </li>
                    <li>
                        <a href="../staff/genres">Genres</a>
                    </li>
                    <li>
                        <a href="../staff/rooms">Rooms</a>
                    </li>
                    <li>
                        <a href="../staff/showings">Showings</a>
                    </li>
                    <li>
                        <a href="../staff/customers">Customers</a>
                    </li>
                    <li>
                        <a href="../staff/attend">Attend</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" data-toggle="collapse" data-target="#addform" class="btn btn-success">Add</button>
                <button type="button" data-toggle="collapse" data-target="#deleteform" class="btn btn-danger">Delete</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="addform" class="collapse">
                    <h2>Add Genre:</h2>
                    <form action="addgenre" method="post" class="form-inline">
                        <div class="form-group">
                            <label for="mGenre">Genre</label>
                            <input type="text" name="Genre" class="form-control" id="mGenre" placeholder="Genre">
                        </div>
                        <div class="form-group">
                            <label for="MovieID">MovieID</label>
                            <input type="text" name="MovieID" class="form-control" id="MovieID" placeholder="MovieID">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <div id="deleteform" class="collapse">
                    <h2>Delete Genre:</h2>
                    <form action="deletegenre" method="post" class="form-inline">
                        <div class="form-group">
                            <label for="mGenre">Genre</label>
                            <input type="text" name="Genre" class="form-control" id="mGenre" placeholder="Genre">
                        </div>
                        <div class="form-group">
                            <label for="MovieID">MovieID</label>
                            <input type="text" name="MovieID" class="form-control" id="MovieID" placeholder="MovieID">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <br>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-3 text-center">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th class="text-center">Movie Name</th>
                            <th class="text-center">Genre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for genre in genres %}
                        <tr>
                            <td>{{ genre.0 }}</td>
                            <td>{{ genre.1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
